<div class="face-snap-card">
    <h2>{{faceSnap.title}}</h2>
    <p>Mis en ligne le {{faceSnap.createdDate}}</p>
    <!-- Liaison par attribut pour afficher les images de manière dynamique -->
    <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title">
    <p>{{faceSnap.description}}</p>
    <!-- Rajout ici du ngif selon si besoin d'afficher l'élément dans le DOM ou pas -->
    <!-- <p *ngIf="faceSnap.location">Photo prise à {{faceSnap.location}}</p> -->
    <!-- Filtre pour les photos prises à Paris: -->
    <p *ngIf="faceSnap.location==='Paris'">Photo prise à {{faceSnap.location}}</p>
    <p>
        <button (click)="onSnap()">{{buttonText}}</button>
        <!-- Ici, la valeur verte augmente avec la valeur du nombre de snaps -->
        <span [ngStyle]="{ color: 'rgb(0, ' + faceSnap.snaps + ', 0)' }">🤌 {{ faceSnap.snaps }}</span>
    </p>
</div>